plot-area {
    display: block;
    margin: 30px;
    overflow: visible;
    box-sizing: content-box;
    line-height: 0px;
}

.plotarea__ {
    &status {
        position: fixed; bottom: 20px;
        right: 20px;
        line-height: 100%;
        background: #f9f9f9;
        overflow: hidden;

        md-icon {
            float: left;
            padding: 0.5em;
        }
    }
    &status-mouse {
        padding: 1em;
        float: left;
    }

    &autoupdate {
        position: fixed; bottom: 15px; left: 15px; z-index: 20;

        md-switch {
            margin: 12px;
        }

        md-icon {
            // color: #d4f6e7;
        }
    }

    &message {
        color: #777;
        text-align: center;

        h2 {
            font-size: 1.5em;
        }

        p {
            margin-top: 20px;
        }

        md-icon {
            font-size: 96px;
            width: 96px; height: 96px;
            color: inherit;
        }

    }

    &placeholder {
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 400px;
    }
}

// error toasts

md-toast.md-accent-theme {
    background: $red; color: #fff;

    // span {
    //     white-space: nowrap;
    // }
}

.plotarea__renderr {
    position: absolute;  top: 50%;

    md-icon {
        font-size: 96px; width: 96px; height: 96px;
        color: #999; user-select: none;
        transform: translate(-50%, -50%);
    }
}
