$section-size: 15px;
$icon-size-md: 24px;
$icon-size-lg: 36px;

.ribbon__ {
    &tabs {
        font-size: 0.9em;
        background-color: #f7f7f7;
        position: relative;
        z-index: 5;

        .md-button:not(.upright) > * {
            display: inline-block;
        }

        button {
            text-transform: none;

            &:hover {
                background-color: #eee !important;    // sadly, hardcoded
            }
        }

        @media all and (max-width: 599px) {
            button .md-grid-text {
                display: none !important;
            }
        }

        md-icon.icon-big {
            @media all and (max-width: 599px) {
                font-size: $icon-size-md;
                width: $icon-size-md;
                height: $icon-size-md;
            }
            @media all and (min-width: 600px) {
                font-size: $icon-size-lg;
                width: $icon-size-lg;
                height: $icon-size-lg;
            }
        }

        &:hover md-tabs-content-wrapper {
            display: block;
        }
    }

    &tabs:hover &section {
        margin-bottom: $section-size;

        &:after {
            opacity: 1;
        }
    }

    &section {
        position: relative; margin-bottom: 0px;
        padding: 0px 20px;


        @media all and (max-width: 599px) {
            min-height: 60px;
        }
        @media all and (min-width: 600px) {
            min-height: 80px;
        }


        transition: margin-bottom 0.3s ease;

        md-menu, button {
            padding: 8px;
        }

        md-input-container {
            padding-bottom: 5px;

            md-checkbox {
                margin-top: 24px;
                margin-bottom: 6px;
            }

            input[type="number"] {
                text-align: right;
            }
        }

        &:after {
            content: attr(data-section); display: block;
            position: absolute; left: 0%; top: 100%; width: 100%;
            height: $section-size; font-size: $section-size/1.2;
            line-height: $section-size;
            text-transform: uppercase;
            text-align: center;
            text-shadow: #fff 0px 1px 2px;
            transition: all 0.3s linear;
            opacity: 0;
        }

        &:hover::after {
            color: $teal;
        }

        & + & {
            border-left: solid 1px #ddd;
        }

        // form styles
        .md-button.form-button {
            text-transform: uppercase; margin: 10px;
            padding: 2px 10px;
        }
    }
}

// custom item adjustments
.ribbonitem__plotGeneral,
.ribbonitem__axesGeneral {
    max-width: 250px;
}

.ribbonitem__axesMarkersAdvanced {
    max-width: 280px;
}

.ribbonitem__stylesAppearance,
.ribbonitem__stylesGrid {
    max-width: 340px;
}

.ribbonitem__axesMarkers {
    min-width: 250px;
}

.ribbonitem__keyPosition {
    md-radio-button {
        margin: 6px; text-align: center;
        width: 16px; height: 16px;

        &.radio-center-center {
            visibility: hidden;
            pointer-events: none;
        }
    }
}
