.special__ {
    &addbutton {
        opacity: 0.5;
        transition: opacity 0.5s ease;

        md-icon {
            font-size: 64px;
            height: 64px; width: 64px;
        }

        &:hover {
            opacity: 1;
        }
    }
}

// other special classes
@keyframes rotate-halfway {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.icon-rotating {
    animation: rotate-halfway 0.5s ease-in-out infinite;
}
