@import 'vars';
@import 'typography';
@import 'code';
@import 'ribbon';
@import 'dialog';
@import 'special';
@import 'plotarea';


body {
  font-family: 'Roboto', sans-serif;
  color: $font-color--dark;
  overflow: hidden;
  background: #eee; line-height: 140%;
}

.md-menu > .md-button {
    margin: 0;
    border-radius: 0;
}

md-tabs md-ink-bar {
    background-color: rgba(255,255,255, 0.6) !important;
}

.sidenav-margin {
    margin: 15px;
}

pre {
    line-height: 150%;
    font-size: 1.4em;
    word-wrap: break-word;
}

md-tabs-wrapper md-icon {
    color: #fff;
}

.main__ {
    &scrollView {
        overflow: auto;
    }
}
