<!-- custom forms etc. -->
<ribbon-item-src name="plotGeneral">
    <div class="row">
        <md-input-container>
            <label>Plot title</label>
            <input type="text" name="plotTitle" value="" ng-model="rbm.plot.title">
        </md-input-container>
    </div>
    <div class="row" layout="row">
        <md-input-container flex="50">
            <label>Width</label>
            <input type="number" name="plotCanvasW" ng-model="rbm.plot.canvas.width" min="80" max="4096" step="10">
        </md-input-container>
        <md-input-container flex="50">
            <label>Height</label>
            <input type="number" name="plotCanvasH" ng-model="rbm.plot.canvas.height" min="80" max="4096" step="10">
        </md-input-container>
    </div>
</ribbon-item-src>

<ribbon-item-src name="plotStyle">
    <div class="row" layout="row">
        <md-input-container flex="70">
            <label>Font face</label>
            <md-select ng-model="rbm.plot.style.fontFace" flex>
                <md-option ng-repeat="fontFace in rbm.plot.options.fontFace" value="{{ fontFace }}" >{{ fontFace }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <label>Size</label>
            <md-select ng-model="rbm.plot.style.fontSize" flex>
                <md-option ng-repeat="size in rbm.plot.options.fontSize" value="{{ size }}" >{{ size }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="row" layout="row">
        <md-input-container flex="70">
            <label>Colors</label>
            <md-select ng-model="rbm.plot.style.colors">
                <md-option ng-repeat="style in rbm.plot.options.colors" value="{{ style.id }}" >{{ style.label }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <label>Quality</label>
            <input type="number" name="plotStyleSamples" ng-model="rbm.plot.samples" flex>
        </md-input-container>
    </div>
</ribbon-item-src>

<ribbon-item-src name="keyPosition">
    <div layout="column">
        <md-radio-group ng-model="rbm.plot.style.key.position">
            <div layout="row" ng-repeat="posy in ['top', 'center', 'bottom']" flex>
                <md-radio-button ng-repeat="posx in ['left', 'center', 'right']" value="{{ posx }} {{ posy }}" flex class="radio-{{ posx }}-{{ posy }}"></md-radio-button>
            </div>
        </md-radio-group>
    </div>
</ribbon-item-src>

<ribbon-item-src name="keyAttributes">
    <div layout="column">
        <div class="row">
            <md-input-container>
                <label>Title</label>
                <input type="text" ng-model="rbm.plot.style.key.title">
            </md-input-container>
        </div>
        <div layout="row">
            <md-checkbox ng-model="rbm.plot.style.key.enable" flex="50">Enable</md-checkbox>
            <md-checkbox ng-model="rbm.plot.style.key.border" flex="50" ng-disabled="!rbm.plot.style.key.enable">Box</md-checkbox>
        </div>
    </div>
</ribbon-item-src>

<ribbon-item-src name="axesChooser">
    <md-radio-group ng-model="rbm.plot.axes.active">
        <div class="row" ng-repeat="axis in ['x', 'y']">
            <md-radio-button value="{{ axis }}">{{ axis | uppercase }} Axis</md-radio-button>
        </div>
    </md-radio-group>
</ribbon-item-src>

<ribbon-item-src name="axesGeneral">
    <div class="row" layout="row">
        <md-input-container flex="66">
            <label>Label</label>
            <input type="text" name="plotAxisLabel" ng-model="rbm.plot.axes[rbm.plot.axes.active].label" flex>
        </md-input-container>
        <md-input-container flex="33">
            <md-checkbox ng-model="rbm.plot.axes[rbm.plot.axes.active].zeroaxis">Zeroaxis</md-checkbox>
        </md-input-container>
    </div>
    <div class="row" layout="row">
        <md-input-container flex="33">
            <label>Min {{ rbm.plot.axes.active | uppercase }}</label>
            <input type="number" name="plotAxisMin" ng-model="rbm.plot.axes[rbm.plot.axes.active].min" flex step="0.1">
        </md-input-container>
        <md-input-container flex="33">
            <label>Max {{ rbm.plot.axes.active | uppercase }}</label>
            <input type="number" name="plotAxisMax" ng-model="rbm.plot.axes[rbm.plot.axes.active].max" flex step="0.1">
        </md-input-container>
        <md-input-container flex="33" layout="column">
            <md-checkbox ng-model="rbm.plot.axes[rbm.plot.axes.active].logscale">Log</md-checkbox>
        </md-input-container>
    </div>
</ribbon-item-src>

<ribbon-item-src name="axesMarkers">
    <div class="row" layout="row">
        <md-input-container flex="70">
            <label>Font face</label>
            <md-select ng-model="rbm.plot.style.tics.fontFace" flex>
                <md-option ng-repeat="fontFace in rbm.plot.options.fontFace" value="{{ fontFace }}" >{{ fontFace }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <label>Size</label>
            <md-select ng-model="rbm.plot.style.tics.fontSize" flex>
                <md-option ng-repeat="size in rbm.plot.options.fontSize" value="{{ size }}" >{{ size }}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div class="row" layout="row">
        <md-input-container flex="50">
            <label>Position</label>
            <md-select ng-model="rbm.plot.style.tics.position" flex>
                <md-option value="axis">Axis</md-option>
                <md-option value="border">Border</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="50">
            <md-checkbox ng-model="rbm.plot.style.tics.mirror">Mirrored</md-checkbox>
        </md-input-container>
    </div>
</ribbon-item-src>

<ribbon-item-src name="datasetsVisibility">
    <div layout="row">
        <md-button class="md-grid-item-content md-margin" class="upright" ng-repeat="dataset in rbm.datasets">
            <md-icon aria-label="{{ dataset.icon }}" class="material-icons icon-big">{{ dataset.icon }}</md-icon>
            <div class="md-grid-text md-margin"> {{ dataset.name }} </div>
        </md-button>
    </div>
</ribbon-item-src>

<ribbon-item-src name="stylesCurrent">
    <div class="row" layout="row">
        <md-input-container flex="70">
            <label>Font face</label>
            <md-select ng-model="rbm.plot.style.fontFace" flex>
                <md-option ng-repeat="(fontName, fontValue) in rbm.plot.style.fontsAvailable" value="{{ fontValue }}" >{{ fontName }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <label>Size</label>
            <input type="number" name="plotStyleFontSize" ng-model="rbm.plot.style.fontSize" flex>
        </md-input-container>
    </div>
    <div class="row" layout="row">
        <md-input-container flex="70">
            <label>Line styles</label>
            <md-select ng-model="rbm.plot.style.lineStyle">
                <md-option ng-repeat="style in rbm.plot.style.lineStylesAvailable" value="{{ style.id }}" >{{ style.label }}</md-option>
                <md-option value="custom" >Custom...</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <label>Quality</label>
            <input type="number" name="plotStyleSamples" ng-model="rbm.plot.samples" flex>
        </md-input-container>
    </div>
</ribbon-item-src>

<ribbon-item-src name="stylesAppearance">
    <div class="row" layout="row">
        <md-input-container flex="70">
            <label>Font face</label>
            <md-select ng-model="rbm.plot.styles.fontFace" flex>
                <md-option ng-repeat="(fontName, fontValue) in rbm.plot.style.fontsAvailable" value="{{ fontValue }}" >{{ fontName }}</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <label>Size</label>
            <input type="number" name="plotStyleFontSize" ng-model="rbm.plot.style.fontSize" flex>
        </md-input-container>
    </div>
    <div class="row" layout="row">
        <md-input-container flex="70">
            <label>Line styles</label>
            <md-select ng-model="rbm.plot.style.lineStyle">
                <md-option ng-repeat="style in rbm.plot.style.lineStylesAvailable" value="{{ style.id }}" >{{ style.label }}</md-option>
                <md-option value="custom" >Custom...</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="30">
            <label>Quality</label>
            <input type="number" name="plotStyleSamples" ng-model="rbm.plot.samples" flex>
        </md-input-container>
    </div>
</ribbon-item-src>
