<md-tabs md-dynamic-height class="md-primary ribbon__tabs md-whiteframe-z1" flex>
    <div ng-controller="gpRibbonController as ribbon">
        <md-tab ng-repeat="(tabLabel, tab) in ribbon.tabs" label="{{ tabLabel }}" layout="column">
            <md-list layout="row">
                <md-list-item class="ribbon__section" data-section="{{ sectionLabel }}"
                ng-repeat="(sectionLabel, section) in tab">

                    <!-- normal ribbonItem -->
                    <md-button class="md-grid-item-content md-margin" ng-class="{'upright': ribbonItem.upright}" ng-repeat-start="ribbonItem in section"
                        ng-if="ribbonItem.type === 'single'" ng-click="ribbon.action.execute(ribbonItem.action, $event)">
                        <md-icon aria-label="{{ ribbonItem.icon }}" class="material-icons  icon-big">{{ ribbonItem.icon }}</md-icon>
                        <div class="md-grid-text md-margin" ng-bind="ribbonItem.label"></div>
                    </md-button>

                    <!-- menu ribbonItem -->
                    <md-menu width="4" md-offset="0 15"  ng-if="ribbonItem.type === 'menu'">
                        <md-button ng-click="$mdOpenMenu($event)" class="md-grid-item-content md-margin" ng-class="{'upright': ribbonItem.upright}">
                            <md-icon aria-label="{{ ribbonItem.icon }}" class="material-icons icon-big">{{ ribbonItem.icon }}</md-icon>
                            <div class="md-grid-text md-margin"> {{ ribbonItem.label }} </div>
                        </md-button>
                        <md-menu-content>
                            <md-menu-item ng-repeat="menuItem in ribbonItem.menu">
                                <md-button ng-click="ribbon.action.execute(menuItem.action, $event)">
                                    <md-icon aria-label="{{ menuItem.icon }}" class="material-icons">{{ menuItem.icon }}</md-icon>
                                    <span>{{ menuItem.label }}</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>

                    <!-- custom -->
                    <ribbon-item-dest ng-repeat-end name="{{ ribbonItem.name }}" ng-if="ribbonItem.type === 'custom'">
                    </ribbon-item-dest>
                </md-list-item>
            </md-list>
        </md-tab>
        <div ng-include="'partials/menubar-custom.html'" ng-controller="gpRibbonFormsController as rbm"></div>
    </div>
</md-tabs>
