<md-dialog aria-label="About GPSG" class="dialog dialog__about" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex>About GPSG</h2>
            <md-button class="md-icon-button" ng-click="ac.cancel()">
                <md-icon aria-label="close">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div layout="column" layout-padding layout-align="center center">
            <h2>Gnuplot Plot &amp; Script Generator</h2>
            <md-icon class="about-icon" aria-label="multiline_chart">multiline_chart</md-icon>
            <p class="about-text"><strong>Developed by:</strong> Filip Ryba<br>
            <strong>Supervised by: </strong> dr hab. inż. Lesław Bieniasz<br>
            Department of Physics, Mathematics and Computer Science<br>
            Cracow University of Technology 2016</p>
        </div>
    </md-dialog-content>
</md-dialog>
